{% extends 'dashboard/header.html' %}


{% block content %}
<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Add Category</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <form action="{% url 'save_category' %}" method="post" class="tm-edit-product-form" >
              {% csrf_token %}
              <div class="form-group mb-3">
                <label
                  for="category"
                  >Category Name
                </label>
                <input
                  id="category"
                  name="category_name"
                  type="text"
                  class="form-control validate"
                  required
                />
              </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block text-uppercase" method="get" >Add Category Now</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}